h1 {
    text-align: center;
    font-weight: 800;
    font-style: normal;
    color: rgb(218, 227, 249);
    font-size: 2.25rem;
    margin: 0;
}

h2 {
    text-align: center;
    font-weight: 400;
    font-style: normal;
    color: rgb(218, 227, 249);
    font-size: 1.25rem;
    margin: 0;
}

.drop {
  margin-top: 100px;
  background-color: rgb(35, 35, 220);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 4px solid rgb(154, 154, 154);
  border-radius: 10px;
  border-collapse: separate;
}

.drop-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop-content a {
  color: rgb(35, 35, 220);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-content a:hover {
  color: rgb(154, 154, 154);
  border: 3px solid rgb(154, 154, 154);
  border-radius: 10px;
  border-collapse: separate;
  background-color: rgb(35, 35, 220);
}

.dropdown {
  right: 10px;
  position: absolute;
  transform: translateY(-100%);
}

.dropdown:hover .drop-content {
  display: block;
}

body {
  line-height: 1.5;
  color: #111;
  display: flex;
  justify-content: center;
  background: #0b1946;
  padding: 1rem;
  color: rgb(218, 227, 249);
}