@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');

h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-weight: bold;
  font-style: normal;

  text-align: center;
  font-weight: 800;
  font-style: normal;
  color: rgb(218, 227, 249);
  font-size: 2.25rem;
  margin: 0;
}

h2 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 100;
  font-weight: bold;
  font-style: normal;
  font-size: 1.1rem;
}

h3 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 100;
  font-weight: bold;
  font-style: normal;
  font-size: 1.1rem;
}

h4 {
  font-weight: 300;
  font-weight: bold;
  font-style: normal;
}

li {
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
}

p {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
}

.drop {
  margin-top: 100px;
  background-color: rgb(255, 255, 255);
  color: white;
  padding: 16px;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 4px solid rgb(154, 154, 154);
  border-radius: 10px;
  border-collapse: separate;
}

.drop-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop-content a {
  color: rgb(35, 35, 220);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-content a:hover {
  color: rgb(154, 154, 154);
  border: 3px solid rgb(154, 154, 154);
  border-radius: 10px;
  border-collapse: separate;
  background-color: rgb(35, 35, 220);
}

.dropdown {
  right: 10px;
  position: absolute;
  transform: translateY(-100%);
}

.dropdown:hover .drop-content {
  display: block;
}

body {
  line-height: 1.5;
  color: #111;
  display: flex;
  justify-content: center;
  background: #0b1946;
  padding: 1rem;
  color: rgb(218, 227, 249);
}

table, th, td {
  border: 2px solid white;
  border-collapse: collapse;
  padding: 10px;
}