@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Smooch+Sans:wght@100..900&display=swap');

body {
  font-family: "Allan", serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #111;
  display: flex;
  justify-content: center;
  background: #f7f8fb;
  padding: 1rem;
}

.drop {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 4px solid rgb(155, 128, 8);
  border-radius: 10px;
  border-collapse: separate;
}

.drop-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop-content a {
  color: rgb(15, 15, 21);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-content a:hover {
  color: rgb(155, 128, 8);;
  border: 3px solid rgb(155, 128, 8);
  border-radius: 10px;
  border-collapse: separate;
  background-color: rgb(15, 15, 21);;
}

.dropdown {
  right: 10px;
  position: absolute;
  transform: translateY(-100%);
}

.dropdown:hover .drop-content {
  display: block;
}

.brand {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(15, 15, 21);
  display: flex;
  align-items: center;
  gap: .75rem;
}

.brand h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: rgb(155, 128, 8);
  font-size: 2.25rem;
  margin: 0;
}

main {
  padding: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 1.5rem;
}

.contents {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: rgb(155, 128, 8);
}

.section_header {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: rgb(155, 128, 8);
  font-size: 1.25rem;
}

.subsection_header {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: rgb(15, 15, 21);
  font-size: 1.1rem;

}

caption {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: bold;
  color: rgb(15, 15, 21);
  font-size: 1.25rem;
  padding-bottom: 3px;
}

th {
  font-size: 1.17rem;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 4px;
  text-align: left;
  color: rgb(155, 128, 8);
  background-color: #111;
  border: 2px solid rgb(155, 128, 8);
  border-collapse: collapse;
}

tr, td{
  padding: 4px;
  border: 2px solid rgb(155, 128, 8);
  border-collapse: collapse;
}

table {
  font-family: "Bebas Neue", sans-serif;
  width: 130%;
  border: 3px solid rgb(155, 128, 8);
  border-radius: 10px;
  border-collapse: separate;
  overflow: hidden;
}

fieldset {
  width: 50%;
  background-color: rgb(225, 233, 234);
  font-size: 22px;
}

form label {
  display: block;
  width: 1000%;
  margin-bottom: 3px;
  font-size: 18px;
}

form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 6px;
}

input:focus {
  background: rgb(155, 128, 8);
  color: white;
  border-color: blueviolet;
}

input:valid {
  border: 2px solid green;
}

input:invalid {
  border: 1px solid black;
}

aside dl{
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;

}

